body {
  background-image: url(../images/ardenweald.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-family: Helvetica;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
  text-align: center;
  /* background-color: aquamarine; */
  background-image: url(../images/banner.jpg);
  background-size: cover;
}
p {
  font-size: 24px;
  font-family: fantasy;
  color: #ffffff;
  text-align: center;
}

a {
  display: block;
  font-size: 30px;
  text-align: center;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

td {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  border: 1px solid #9933ff;
  border-radius: 10px;
  border-style: solid;
}

table {
  background-color: #668cff;
  border: 5x solid #000000;
  border-radius: 15px;
  border-style: outset;
}
